@charset "UTF-8";

body {
    background-color: #1b1b1b;
}

/* header 시작 */
header {
    position: absolute;
    width: 100%;
    height: 194px;
    z-index: 90px;
}

#header_inner {
    position: relative;
    height: 70px;
    width: 980px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    /* border-bottom-color: rgba(255, 255, 255, .3); */
}

#header_inner a {
    text-decoration: none;
}

#header_inner>h1 {
    margin: 0 auto;
    padding-top: 10px;
    width: 219px;
    height: 37px;
}

.gnb1 li {
    height: 14px;
    line-height: 14px;
    float: left;
    margin-right: 10px;
}

.gnb1 li a {
    color: #656565;
}

.gnb2 li {
    height: 14px;
    line-height: 14px;
    float: right;
    margin-right: 10px;
}

.gnb2 li a {
    color: #656565;
}

#header_nav {
    position: relative;
    width: 980px;
    height: 50px;
    margin: 0 auto;
}

.nav1 {
    text-align: center;
}

.nav1 li {
    display: inline-block;

}

.nav1 li a {
    line-height: 40px;
    display: inline-block;
    padding: 0 24px;
    font-size: 14px;
    height: 75px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav2 {
    position: relative;
    bottom: 65px;
    text-align: right;
    margin-bottom: 50px;
}

.nav2 li {
    display: inline-block;
}

.nav2 li a {
    text-decoration: none;
    color: #fff;
}
/* header 종료 */

#main img {
    width: 100%;
    height: 774px;
}


/* sub 시작 */
.sub1 {
    width: 100%;
    position: absolute;
    top: 40px;
    float: left;
    text-align: left;
    background-color: #000000b3;
    height: 38px;
    display: none;
}

.nav1 li:hover .sub1 {
    display: block;
}
/* sub 종료 */

/* slid_baner 시작 */
#slid_baner {
    margin-top: 30px;
    position: relative;
    width: 1387px;
    height: 580px;
    overflow: hidden;
}
/* slid_baner 종료 */

/* slid_baner2 시작 */
.tit1 {
    position: relative;
}

.tit1 span {
    display: block;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.tit1 a {
    position: absolute;
    right: 15px;
    top: 10px;
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    color: #a5a5a5;
}

#slid_baner div {
    float: left;
}

.slid1 {
    margin: 0 290px;
    float: left;
    width: 100vw;
}

#slid_baner img {
    width: 1240px;
    height: 508px;
    margin: 0 20px;
    border-radius: 12px;
}

#slid_baner2 {
    height: 498px;
}

#vanner {
    margin: 0 auto;
    width: 1240px;
    height: 498px;
}
#slid_baner2{
    margin-top: 30px;
}

#slid_wapper {
    width: 1240px;
    height: 440px;
}

#slid_wapper ul li {
    display: inline-block;
    width: 240px;
    height: 360px;
}

#slid_wapper ul li img {
    width: 240px;
    height: 360px;
}

/* slid_baner2 종료 */